[submodule "alphaBetaLab"]
	path = alphaBetaLab
	url = https://github.com/menta78/alphaBetaLab
[submodule "ww3"]
	path = ww3
	url = https://github.com/noaa-emc/ww3
[submodule "vvtools"]
	path = vvtools
	url = https://github.com/NOAA-EMC/WW3-tools
