*.nc
*/*.nc
*/*/*.nc
exec*
grids/*/*.msh
*.png
*/*.png
*/*/*.png
ObstGrid/obsout.out
ObstGrid/obsout.out
ObstGrid/output*
grids/*/ST4TABUHF2.bin
grids/*/*.ww3
grids/*/*.out
grids/*/times.*
grids/*/ww3_prnc.inp 
